# Authentication settings
#auth-service:          # ptc (default) or google
#username:
#password:

# Database settings
#db-type: mysql        # sqlite (default) or mysql
#db-host: mysql://b79cf4c0c2f1ee:425cb313@us-cdbr-iron-east-04.cleardb.net/heroku_32f3ad8822da810?reconnect=true              # required for mysql
#db-name: heroku_32f3ad8822da810              # required for mysql
#db-user: b79cf4c0c2f1ee              # required for mysql
#db-pass: 425cb313              # required for mysql

# Search settings
#location:
#no-gyms:               # disables gym scanning (default false)
#no-pokemon:            # disables pokemon scanning (default false)
#no-pokestops:          # disables pokestop scanning (default false)
#num-threads: 8           # number of search threads (default 1)
#scan-delay: 2            # default 5
#step-limit:            # default 12

# Misc
#gmaps-key:             # your Google Maps API key
#webhook:               # webhook URL (including http://)

# Webserver settings
#host:                  # address to listen on (default 127.0.0.1)
#port:                  # port to listen on (default 5000)
